body {
  font-family: helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
}
table {
  margin-left: auto;
  margin-right: auto;
}

#redBox {
  transition: 0.2s;
  background-color: red;
}
#redBox.lit-up {
  transition: 0.2s;
  box-shadow:
    0 0 30px 10px rgba(255, 0, 0, 0.75),
    inset 0px 0px 30px 10px rgba(255,255,255,0.40);
  background-color: rgba(255,0,0,0.85);
}
#blueBox {
  transition: 0.2s;
  background-color: blue;
}
#blueBox.lit-up {
  transition: 0.2s;
  box-shadow:
    0 0 30px 10px rgba(0, 0, 255, 0.75),
    inset 0px 0px 30px 10px rgba(255,255,255,0.40);
  background-color: rgba(0, 0, 255, 0.85);
}
#yellowBox {
  transition: 0.2s;
  background-color: yellow;
}
#yellowBox.lit-up {
  transition: 0.2s;
  box-shadow:
    0 0 30px 10px rgba(255, 255, 0, 0.75),
    inset 0px 0px 30px 10px rgba(255,255,255,0.40);
  background-color: rgba(255, 255, 0, 0.85);
}
#pinkBox {
  transition: 0.2s;
  background-color: pink;
}
#pinkBox.lit-up {
  transition: 0.2s;
  box-shadow:
    0 0 30px 10px rgba(255, 192, 203, 0.75),
    inset 0px 0px 30px 10px rgba(255,255,255,0.40);
  background-color: rgba(255, 192, 203, 0.85);
}




.cat {
  /*border: 1px solid black;*/
  position: relative;

  font-size: 50px;
  height: 300px;
  width: 300px;
  margin: auto;

  background-image: url("../images/alpha_cat_closed.png");
  background-size: contain;
}

.lit-up {
  transition: 0.2s;
  z-index: 1;
  border-radius: 10px;
}

.meow {
  transition: 0.2s;
  background-image: url("../images/alpha_cat_meow.png");
}

.scream {
  transition: 0.2s;
  background-image: url("../images/alpha_cat_scream.png");
}
