body {
  font-family: helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td {
  font-size: 50px;
  height: 300px;
  width: 300px;
  margin: auto;
  /*background-color: pink;*/
}
#redBox {
  background-color: red;
}
#blueBox {
  background-color: blue;
}
#yellowBox {
  background-color: yellow;
}
#pinkBox {
  background-color: pink;
}
